@charset "UTF-8";
.header{
	background-color:#CCFFFF;
	padding:50px;
}
::-webkit-input-placeholder {
	padding-left:10px;
    color: #FFF;
    opacity:0.5;
  }
.fanction a{
	text-decoration:none ;
	color:#000;
	line-height:50px;
	font-weight:bold;
	font-size:20px;
}

.message-center{
	width:800px;
	background:#000080;
	color:#FFF;
	border-radius:50px;
	padding:20px 0 20px 50px;
	line-height:30px;
}

.delete-button{
	position:relative; left:460px;bottom:20px;
}

.comments-box{
	height:40px;
	width:400px;
	background:#996699;
	color:#FFF;
	border-radius:50px;	
	padding-top:20px;
	margin-top:20px;
	margin-left:-10px;	
}
.comment-submit{
	position:relative; left:460px;bottom:40px;
}


.comments{
	width:600px;
	line-height:30px;
  	background: #7da4cd;
  	margin: 10px 0 20px -10px;
  	overflow: hidden;
	border-radius: 12px;
}
.comment{
	padding:20px 0 0 20px;
}
